@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600&family=Montserrat&display=swap');

@keyframes nav {
  0% { color: #F0789A; };
  100% {};
}

@keyframes textFade {
  0% { background-color: #FFFFEC; color: #FFFFEC; };
  100% {};
}

@keyframes shadowGrow {
  0% { box-shadow: 0 0; };
  100% {};
}

h1, h2, h3, li, a {
  font-family: 'Baloo Da 2', verdana;
}

body, html {
  margin: 0;
  background-color: #FFFFEC;
  padding: 0vw;
  width: 100%;
}

* {
  border-radius: 1.5vw;
  position: relative;
}

p, li {
  font-size: calc(14px + 1.1vw);
  font-family: 'Montserrat', Tahoma;
}

.pink {
  font-size: calc(30px + 1.0vw);
  text-align: center;  
  background-color: #F0789A;
  padding: 2vw;
  margin: 3vw 9vw;
  margin-top: 6vw;
  color: #FFFFEC;
  box-shadow: 1.5vw 1.5vw #f5c4d7;
  animation: textFade 1s ease-in,
	shadowGrow 3s ease-in-out;
}

.lime {
	margin-bottom: 3vw;
	text-align: center;
	background-color: #4FBD88;
	padding: 2vw;
	margin: 0 20vw;
	color: #FFFFEC;
	box-shadow: 1.5vw 1.5vw #91edac;
	animation: textFade 1s ease-in, shadowGrow 3s ease-in-out;
}

h1 {
  font-size: calc(10px + 1.5vw);
}

h3 {
  font-size: calc(16px + 0.9vw);
}

nav {
  background-color: #F0789A;
  border-radius: 0;
  top: 0px;
  display: flex;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  margin-right: 1vw;
  margin-top: 2vw;
}

nav > h1 {
  color: #FFFFEC;
  flex: 9;
  margin-left: 3vw;
  animation-name: nav;
  animation-duration: 2.5s;
}

nav > ul > li {
  flex: 1;
  display: inline;
  font-size: calc(12px + 1.0vw);
  margin-right: 0.5vw;
  vertical-align: middle;
  animation-name: nav;
  animation-duration: 1.5s;
}

nav > ul > li > a {
  text-decoration: none;
  border: 3px solid #FFFFEC;
  padding: 1vw 2vw;
  text-align: center;
  color: #FFFFEC;
  vertical-align: middle;
  animation-name: nav;
  animation-duration: 1.5s;
}

nav > ul > li > a:hover {
  color: #f5c4d7;
  border: 3px solid #f5c4d7;
}

#welcome {
  text-align: center;
  border: 2px solid #F0789A;
  color: #210002;
  margin: 5vw 5vw;
  padding: 1vw;
  animation: textFade 1s ease-in,
	shadowGrow 3s ease-in-out;
}

#techskills {
  display: flex;
  margin-bottom: 2vw;
}

#lang, #prog {
	flex: 1;
	padding-left: 2vw;
	margin: 2vw 0;
	font-size: calc(12px + 1.1vw);
	color: #FFFFEC;
	background-color: #4FBD88;
	margin-bottom: 2.5vw;
	box-shadow: 1.5vw 1.5vw #91edac;
	animation: textFade 1s ease-in, shadowGrow 3s ease-in-out;
}

#lang {
  margin-left: 10vw;
  margin-right: 5vw;
}

#prog {
  margin-right: 10vw;
  margin-left: 5vw;
}

article {
  padding: 1.5vw;
  color: #FFFFEC;
}

article {
	background-color: #4FBD88;
	margin: 3vw;
	box-shadow: 1.5vw 1.5vw #91edac;
	animation: textFade 1s ease-in, shadowGrow 3s ease-in-out;
}

article > a:hover {
  color: #91edac;
  border: 3px solid #91edac;
}

article > a {
  border: 3px solid #FFFFEC;
  font-size: calc(20px + 1.0vw);
  padding: 0.8vw;
  color: #FFFFEC;
  text-decoration: none;
  line-height: 2;
}

article > p {
  color: #FFFFEC;
}

#work {
	margin: auto;
	margin-bottom: 5%;
	width: 80%;
}

#positions > h3 {
  margin-left: 1vw;
}

#positions > p {
  margin-left: 1.4vw;
}

#positions {
	background-color: #4FBD88;
	color: #FFFFEC;
	margin-top: 3vw;
	box-shadow: 1.5vw 1.5vw #91edac;
	animation: textFade 1s ease-in, shadowGrow 3s ease-in-out;
	padding: 1vw;
}

#code {
  margin: 4vw 24vw;
}

#projinfo {
  margin: 3vw;
  animation: textFade 4s ease-out,
	shadowGrow 2s ease-in-out;
}

#center {
	text-align: center;
}

#projinfo > p > a {
  color: #210002;
  animation: textFade 4s ease-out,
	shadowGrow 2s ease-in-out;
}

#projinfo > p > a:hover {
  color: #F0789A;
}

#title {
  background-color: #4FBD88;
  color: #FFFFEC;
  padding: 1vw;
  padding-left: 2.5vw;
  margin: 1.5vw;
  width: 50vw;
  box-shadow: 1.5vw 1.5vw #91edac;
  animation: textFade 1s ease-in,
	shadowGrow 2s ease-in-out;
}

#contact > h3{
  padding: 1vw;
  margin: 4vw 20vw;
}

#contact > h3 > a{
  color: #FFFFEC;
}

#contact > h3 > a:hover {
	color: #91edac;
}